<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "Podcast.fm", root_path, id:"logo" %>
      <nav>
        <ul>
          <li><%= link_to "Explore", "#" %></li>
          <li><%= link_to "Sign In", "#" %></li>
          <li><%= link_to "Create a Podcast", "#" %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discovery your new favorite<br> podcast, or create your own</h1>
    <%= link_to "Create Poscast", "#", class: "button_white" %>
    <%= link_to "Explore", "#", class: "button_highlight" %>
  </div>
</div>
